.poke{
    transition: O.5s;
}

.poke:hover{
    background-color: orange;
    color:white;

}
.seeMore:hover{
    color:white
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnAbility{
    background-color: orange;
    border:1px solid orange;
    border-radius: 10px;

}
.pokemonStat{
    list-style: none;
}
.iconHouse{
    margin-right: 10px;
    border: 2px solid orange;
    border-radius:15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
}