.poke{
    transition: O.5s;
}

.poke:hover{
    background-color: orange;
    color:white;

}
.seeMore:hover{
    color:white
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}